.button {
 background-color: rgba(0,0,250,0.5);
 color:white;
 padding: 6px;
 border-radius: 5px;
 text-decoration: none;
}

.button:hover{
  background-color: rgba(0,0,250,0.8);
  color:white;
}
